.header-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}
.userwrap{
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
}
.user-panel{
overflow: visible !important;
}