<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Budget Adjustament/Update</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Budget Update</a></li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Budget Adjustament/Update</h3>
  
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label>Financial Year</label>
                          <select class="form-control select2bs4" style="width: 100%">
                            <option selected="selected">2022-23</option>
                            <option>2021-22</option>
                            <option>2020-21</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>To Unit</label>
                          <select class="form-control select2bs4" style="width: 100%">
                            <option selected="selected">RHQ(W)</option>
                            <option>RHQ(E)</option>
                            <option>RHQ(S)</option>
                          </select>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                          <thead>
                            <tr>
                              <th><input type="checkbox"> All</th>
                              <th>Batch</th>
                              <th>F.Y.</th>
                              <th>Unit</th>
                              <th>Sub Head</th>
                              <th>Type</th>
                              <th>Previous</th>
                              <th>Amount</th>
                              <th>Remarks</th>
                            </tr>
                          </thead>
                          <tbody>
                                 <tr>
                                  <td><input type="checkbox"></td>
                                  <td>011/2022-23</td>
                                  <td>2022-23</td>
                                  <td>RHQ(W)</td>
                                  <td>Office Expenses</td>
                                  <td>Initial</td>
                                  <td>0</td>
                                  <td>2100000233</td>
                                  <td>CGHQ to RHQ</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td>011/2022-23</td>
                                  <td>2022-23</td>
                                  <td>RHQ(W)</td>
                                  <td>Office Expenses</td>
                                  <td>Initial</td>
                                  <td>0</td>
                                  <td>2100000233</td>
                                  <td>CGHQ to RHQ</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td>011/2022-23</td>
                                  <td>2022-23</td>
                                  <td>RHQ(W)</td>
                                  <td>Office Expenses</td>
                                  <td>Initial</td>
                                  <td>0</td>
                                  <td>2100000233</td>
                                  <td>CGHQ to RHQ</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td>011/2022-23</td>
                                  <td>2022-23</td>
                                  <td>RHQ(W)</td>
                                  <td>Office Expenses</td>
                                  <td>Initial</td>
                                  <td>0</td>
                                  <td>2100000233</td>
                                  <td>CGHQ to RHQ</td>
                                </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="row mt-2">
                        <div class="col-sm-12 col-md-5">
                          <div
                            class="dataTables_info"
                            id="example2_info"
                            role="status"
                            aria-live="polite"
                          >
                            Showing 1 to 10 of 57 entries
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                          <div
                            class="dataTables_paginate paging_simple_numbers"
                            id="example2_paginate"
                          >
                            <ul class="pagination float-right">
                              <li
                                class="paginate_button page-item previous disabled"
                                id="example2_previous"
                              >
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="0"
                                  tabindex="0"
                                  class="page-link"
                                  >Previous</a
                                >
                              </li>
                              <li class="paginate_button page-item active">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="1"
                                  tabindex="0"
                                  class="page-link"
                                  >1</a
                                >
                              </li>
                              <li class="paginate_button page-item">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="2"
                                  tabindex="0"
                                  class="page-link"
                                  >2</a
                                >
                              </li>
                              <li class="paginate_button page-item">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="3"
                                  tabindex="0"
                                  class="page-link"
                                  >3</a
                                >
                              </li>
                              <li class="paginate_button page-item">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="4"
                                  tabindex="0"
                                  class="page-link"
                                  >4</a
                                >
                              </li>
                              <li class="paginate_button page-item">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="5"
                                  tabindex="0"
                                  class="page-link"
                                  >5</a
                                >
                              </li>
                              <li class="paginate_button page-item">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="6"
                                  tabindex="0"
                                  class="page-link"
                                  >6</a
                                >
                              </li>
                              <li
                                class="paginate_button page-item next"
                                id="example2_next"
                              >
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="7"
                                  tabindex="0"
                                  class="page-link"
                                  >Next</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Major Head</label>
                    <select class="form-control select2bs4" style="width: 100%">
                      <option selected="selected">2037</option>
                      <option>2036</option>
                      <option>2035</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Sub Head</label>
                    <select class="form-control select2bs4" style="width: 100%">
                      <option selected="selected">Office Expenses</option>
                      <option>Office Expenses 1</option>
                      <option>Office Expenses 2</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Minor Head</label>
                    <select class="form-control select2bs4" style="width: 100%">
                      <option selected="selected">102</option>
                      <option>103</option>
                      <option>104</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Fund Available</label>
                    <input
                      type="number"
                      class="form-control"
                      id="fundAvailable"
                      readonly
                      value="100989898"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Previous Allocation</label>
                    <input
                      type="number"
                      class="form-control"
                      id="PrevAllocation"
                      readonly
                      value="1234589789"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label>Allocation Type</label>
                      <select class="form-control select2bs4" style="width: 100%">
                        <option selected="selected">Update</option>
                        <option>Initial</option>
                        <option>Initial</option>
                      </select>
                    </div>
                  </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Revised Amount</label>
                    <input
                      type="number"
                      class="form-control"
                      id="Amount"
                      placeholder="Enter Amount"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Balance Fund</label>
                    <input
                      type="text"
                      class="form-control"
                      id="BalanceFund"
                      readonly
                      value="0"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label>Remarks</label>
                      <input
                        type="text"
                        class="form-control"
                        id="PrevAllocation"
                        placeholder="Enter Remarks"
                      />
                    </div>
                  </div>
                <div class="col-md-4 mb-3">
                  <button type="submit" class="btn btn-primary mr-2">Update</button>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
              <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <label>Authority Unit</label>
                    <select class="form-control select2bs4" style="width: 100%">
                      <option selected="selected">CGHQ</option>
                      <option>RHQ(W)</option>
                      <option>RHQ(S)</option>
                    </select>
                  </div>
                </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label>Authority</label>
                    <input
                      type="text"
                      class="form-control"
                      id="BalanceFund"
                      placeholder="Enter Authority"
                    />
                  </div>
                </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label>Date</label>
                    <input
                      type="date"
                      class="form-control"
                      id="Date"
                      placeholder="Enter Date"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Type</label>
                    <select class="form-control select2bs4" style="width: 100%">
                      <option selected="selected">Letter</option>
                      <option>Letter</option>
                      <option>Letter</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Browse Document</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="exampleInputFile">
                      <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 upldBtn">
                  <button type="submit" class="btn btn-primary">Upload</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <div class="row">
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
  
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  