<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">User Management</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Manage User</a></li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Users Details</h3>
  
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-12">
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                          <thead>
                            <tr>
                              <th><input type="checkbox"> All</th>
                              <th>Unit</th>
                              <th>Rank</th>
                              <th>User Name</th>
                              <th>P.No.</th>
                              <th>User Id</th>
                              <th>From Date</th>
                              <th>To Date</th>
                              <th>Role</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                                 <tr>
                                  <td><input type="checkbox"></td>
                                  <td>2022-23</td>
                                  <td>RHQ(W)</td>
                                  <td>Office Expenses</td>
                                  <td>2345</td>
                                  <td>2334354</td>
                                  <td>21/11/23</td>
                                  <td>CGHQ to RHQ</td>
                                  <td>CB Creator</td>
                                  <td>Not Approved</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td>2022-23</td>
                                  <td>RHQ(W)</td>
                                  <td>Office Expenses</td>
                                  <td>2345</td>
                                  <td>2334354</td>
                                  <td>21/11/23</td>
                                  <td>CGHQ to RHQ</td>
                                  <td>System Admin</td>
                                  <td>Approved</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td>2022-23</td>
                                  <td>RHQ(W)</td>
                                  <td>Office Expenses</td>
                                  <td>2345</td>
                                  <td>2334354</td>
                                  <td>21/11/23</td>
                                  <td>CGHQ to RHQ</td>
                                  <td>Unit Admin</td>
                                  <td>Not Approved</td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td>2022-23</td>
                                  <td>RHQ(W)</td>
                                  <td>Office Expenses</td>
                                  <td>2345</td>
                                  <td>2334354</td>
                                  <td>21/11/23</td>
                                  <td>CGHQ to RHQ</td>
                                  <td>Budget Manager</td>
                                  <td>Not Approved</td>
                                </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="row mt-2">
                        <div class="col-sm-12 col-md-5">
                          <div
                            class="dataTables_info"
                            id="example2_info"
                            role="status"
                            aria-live="polite"
                          >
                            Showing 1 to 10 of 57 entries
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                          <div
                            class="dataTables_paginate paging_simple_numbers"
                            id="example2_paginate"
                          >
                            <ul class="pagination float-right">
                              <li
                                class="paginate_button page-item previous disabled"
                                id="example2_previous"
                              >
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="0"
                                  tabindex="0"
                                  class="page-link"
                                  >Previous</a
                                >
                              </li>
                              <li class="paginate_button page-item active">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="1"
                                  tabindex="0"
                                  class="page-link"
                                  >1</a
                                >
                              </li>
                              <li class="paginate_button page-item">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="2"
                                  tabindex="0"
                                  class="page-link"
                                  >2</a
                                >
                              </li>
                              <li class="paginate_button page-item">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="3"
                                  tabindex="0"
                                  class="page-link"
                                  >3</a
                                >
                              </li>
                              <li class="paginate_button page-item">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="4"
                                  tabindex="0"
                                  class="page-link"
                                  >4</a
                                >
                              </li>
                              <li class="paginate_button page-item">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="5"
                                  tabindex="0"
                                  class="page-link"
                                  >5</a
                                >
                              </li>
                              <li class="paginate_button page-item">
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="6"
                                  tabindex="0"
                                  class="page-link"
                                  >6</a
                                >
                              </li>
                              <li
                                class="paginate_button page-item next"
                                id="example2_next"
                              >
                                <a
                                  href="#"
                                  aria-controls="example2"
                                  data-dt-idx="7"
                                  tabindex="0"
                                  class="page-link"
                                  >Next</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>CG P.No.</label>
                        <select class="form-control select2bs4" style="width: 100%">
                          <option selected="selected">06782-W</option>
                          <option>20210-S</option>
                          <option>20208-N</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>User Name</label>
                        <input disabled
                          type="text"
                          class="form-control"
                          id="fundAvailable"
                          value="A Pandey"
                        />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Rank</label>
                        <input disabled
                          type="text"
                          class="form-control"
                          id="rank"
                          value="ADH"
                        />
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          <label>User Id</label>
                          <input disabled
                            type="text"
                            class="form-control"
                            id="userid"
                            value="apandey@icg.in"
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Role</label>
                          <select  class="form-control select2bs4" style="width: 100%">
                            <option selected="selected">CB Creator</option>
                            <option>System Admin</option>
                            <option>Unit Admin</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>From Date</label>
                          <input type="date" class="form-control" id="Date" placeholder="Enter From Date" />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>To Date</label>
                          <input type="date" class="form-control" id="Date" placeholder="Enter To Date" />
                        </div>
                      </div>
                    <!-- /.col -->
                  </div>
            </form>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <div class="row">
              <button type="submit" class="btn btn-primary mr-2">Save</button>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
  
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  