/* You can add global styles to this file, and also import other style files */
.main-logo{
    text-align: center;
}
.card-header{
    background-color: #F6F9FC !important;
}
.table-responsive{
    border: 1px solid #dee2e6;
    border-radius: 4px;
}
.table-responsive thead{
    background-color: #F6F9FC;

}
.card-footer{
    background-color: #F6F9FC !important;
}
.upldBtn{
    display: flex;
    align-items: center;
    padding-top: 16px;
}
.mailbox-messages table tr{
cursor: pointer;
}